//
// Weather icon set
// Sources:
//  http://www.alessioatzeni.com/meteocons/
// Variables
$icon-color: #1a1a1a;

.icon-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: $icon-color;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

// Clear Day
.clear-day {
   @extend .icon-background;
   mask-image: url(icons/weather-clear-day.svg);
}

// Clear Night
.clear-night {
   @extend .icon-background;
   mask-image: url(icons/weather-clear-night.svg);
}

// Rain
.rain {
    @extend .icon-background;
    mask-image: url(icons/weather-clear-day.svg);
}

// Snow
.snow {
    @extend .icon-background;
    mask-image: url(icons/weather-snow.svg);
}

// Sleet
.sleet {
    @extend .icon-background;
    mask-image: url(icons/weather-sleet.svg);
}

// Wind
.wind {
    @extend .icon-background;
    mask-image: url(icons/weather-wind.svg);
}

// Fog
.fog {
    @extend .icon-background;
    mask-image: url(icons/weather-fog.svg);
}

// Cloudy
.cloudy {
    @extend .icon-background;
    mask-image: url(icons/weather-cloudy.svg);
}

// Partly Cloudy Day
.partly-cloudy-day {
    @extend .icon-background;
    mask-image: url(icons/weather-partly-cloudy-day.svg);
}

// Partly Cloudy Night
.partly-cloudy-night {
    @extend .icon-background;
    mask-image: url(icons/weather-partly-cloudy-night.svg);
}

// Rain drop
.rain-drop {
    @extend .icon-background;
    mask-image: url(icons/weather-rain-drop.svg);
}
