//
// Weather Day Directive Style

.weather-daytime-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;

    .weather-hour {
        flex: 0 1 20%;
        min-width: 150px;
        position: relative;
        text-align: center;
        opacity: 1;

        &:after {
            position: absolute;
            top: -5%;
            right: 0;
            content: '';
            height: 110%;
            border-right: 1px dotted lighten($font-color, 10%);
            opacity: 0.5;
        }

        &:last-child:after {
            border-right: 1px solid transparent;
        }
    }

    .daytime {
        display: block;
        font-size: 1.4em;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0 auto $margin * 3 auto;
    }

    .icon {
        margin: 0 auto $margin auto;
        display: block;
        width: $weather-icon-size;
        height: $weather-icon-size;
    }

    .temperature {
        display: block;
        margin: 0 auto $margin * 3 auto;
        padding-left: 0.5em;
        font-size: 1.5em;
    }

    .precip {
        .icon {
            display: block;
            margin: 0 auto 0 auto;
            width: $weather-icon-size - 10;
            height: $weather-icon-size - 10;
        }

        .percentage {
            font-size: 1.25em;
            padding-left: 0.5em;
        }
    }

    .hour {
        display: block;
        margin: 0 auto;
        font-size: 1.25em;
    }

    .date {
        display: block;
        margin: 0 auto;
        font-size: 1.1em;
    }

    expand {
        @extend .visually-hidden
    }
}
